.account-page {
  background-color: $light-blue;

  h1 {
    text-align: center;
    color: $dark-blue;
  }
}

.login {
  border: 1px solid $light-grey;
  border-radius: 5px;
  margin: 2em auto;
  width: 20em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: space-between;

  a {
    margin-top: 1em;
    text-align: center;
  }
}

input[type="email"],
input[type="password"] {
  border: 1px solid $light-blue;
  border-radius: 5px;
  padding: 0.7em;

  &:focus {

          // removing default focus style
          outline: 0;
          // adding new one
          background: white;
border:1px solid $mid-blue;



        }
&:default{
  border-color: $mid-blue;
}
  &:valid:not(:focus):not(:placeholder-shown) {
border-color: green;
  }
  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: red;
  }
}

input[type="password"] {
  margin-bottom: 1em;
}
