// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero {
	padding: 20px;
	background-position: center;
	/* Center the image */
	background-repeat: no-repeat;
	/* Do not repeat the image */
	background-size: cover;
	background-image: url("https://content-static.eurostar.com/styles/1600x420/s3/2018-10/Christmas-in-London.jpg");

	@include respond-to('medium') {
	padding: 4em 0em 4em 20px;
	}
	h1 {
		color: #fff;
		text-shadow: rgba(0, 0, 0, 0.6) 0 0 6px;
		max-width: 300px;
		font-style: normal;
		font-weight: 600;
		color: rgb(255, 255, 255);
		text-shadow: rgba(0, 0, 0, 0.6) 0 0 6px;
		line-height: 0.95;
		font-size: 36px;
		text-transform: uppercase;
		padding-bottom: 22px;
	}
}

aside {
	padding-top: 1em;

	h3.filters {
		border-radius: 5px 5px 0 0;
		border: 1px solid $light-grey;
		display: block;
		padding: 0.5em;
		background: #fff;
		box-shadow: $shadow;
		@include respond-to('medium') {
			//background: none;
			//box-shadow: none;
			//border: 0;
			font-weight: bold;
			font-size: 1.25em;
		}

		&:hover {
			background: $mid-grey;
			@include respond-to('medium') {
				background: none;
			}
		}

		&:focus {}

		&::after {
			content: 'arrow_drop_down';
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			float: right;
			top: 0;
			color: $mid-blue;
			@include respond-to('medium') {
				content: '';
			}
		}
	}

	form {

		background: #fff;

		height: 0;
		overflow: hidden;


		opacity: 0;

		transition: 0.3s cubic-bezier(.2, 0, 0, 1.6);

&.show-filters{

	background: #fff;
	height: auto;
	opacity: 1;
	padding-top: 10px;
//margin-top: 1em;
border: 1px solid $light-grey;
border-radius: 0 0 5px 5px;

box-shadow: $shadow;

}

		@include respond-to('medium') {
			display: block;
			opacity: 1;
			height: auto;
			padding-top: 10px;
	//margin-top: 1em;
	border: 1px solid $light-grey;


	box-shadow: $shadow;

		}
	}

	fieldset {
		border: 0;
		border-bottom: 1px solid $light-grey;

		&:last-child {
			border-bottom: 0;
		}
	}
}

main {
	padding-top: 1em;
	// margin-right: 20px;
	// margin-left: 20px;
}

input[type=range] {
	width: 100%;
	-webkit-appearance: none;
}

input[type=checkbox] {
	-webkit-appearance: none;
	display: none;
}
input[type=radio] {
	-webkit-appearance: none;
	display: none;
}

input[type=checkbox]:checked ~ form {
	display: block;
	opacity: 1;
	height: auto;
}

input[type=checkbox]:default ~ form {
	display: none;
	opacity: 0;
	@include respond-to('medium') {
		display: block;
		opacity: 1;
		height: auto;
	}
}

form.sort {
	select {
		-webkit-appearance: none;
		font-family: inherit;
	}
}

section.active-filter-container{
display: flex;

height: auto;
align-items: baseline;

}
.selected-filter{
	width: auto;
	border: 1px solid $mid-blue ;
	padding: .5em;
	border-radius: 0.3em;
	margin: 1em .5em 1em .5em;


	&:after{
		content:'close';
		font-family: 'Material Icons';

		color: $mid-blue;
		&:hover{
			color: $dark-blue;
		}
	}
}
