

.container-flex {
  display: flex;
  flex-direction: column;
justify-content:space-between;

aside{
width: 100%;
}
main{
  width: 100%;
}

}
@media only screen and (min-width: 800px){ .container-flex {
flex-direction: row;
aside{
width: 30%;
}
main{
  width: 70%;
  padding-left: 0.875rem;

}
}
}
.articles {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // margin-right: -1rem;
  // margin-left: -1rem;
  // flex: 0 1 auto;







  .article-item {
    box-sizing: border-box;


    // margin-right: 1rem;
    // margin-left: 1rem;
//margin-left: 10px;
//margin-right: 10px;
// margin-bottom: 10px;
// margin-top: 10px;

  }
  @media only screen and (min-width:0em){ .article-item {
    flex-basis: 100%;
    max-width: 100%;
    display: block;
  }
  }
  @media only screen and (min-width:37.5625em){ .article-item {
    flex-basis: 50%;
    max-width: 50%;
    display: block;
  }
  }
  @media only screen and (min-width:50.0625em){ .article-item {
    flex-basis: 50%;
    max-width: 50%;
    display: block;
  }
  }
  @media only screen and (min-width:56.3125em){ .article-item {
    width: calc(30% - (0.875rem/2));

    display: block;
  }
  }





}
.sortOptions{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
