// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.main-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: $brand-color;
  color: $text-color-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  z-index: 99999;

  a {
    color: $text-color-light;
  }

  .logo {
    height: 20px;
    width: 150px;
    margin-right: 0;
    //margin-left: 20px;
    padding: 0;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //height: 60px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      padding-inline-start: 0;
      margin-top: 0;
      margin-bottom: 0;

      li {}

      a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
height: 60px  ;
line-height: 3.5em;
text-decoration: none;
&:hover{
  border-bottom: 2px solid $mid-blue;
}

      }
    }
  }
}
.search{


  &:before{
    content:'search';
    font-family: 'Material Icons';
    font-size: 1.5em;
    
  }
  &:after{@include respond-to('medium') {
    content:'Zoeken';
  }
  }
}
.fav{


  &:before{
    content:'favorite';
    font-family: 'Material Icons';
      font-size: 1.5em;
  }
  &:after{@include respond-to('medium') {
    content:'Mijn Lijst';

  }
  }
}
.acc{
  &:before{
    content:'person';
    font-family: 'Material Icons';
      font-size: 1.5em;
  }
  &:after{@include respond-to('medium') {
    content:'Inloggen/Regristreren';
  }
  }

}
