// -----------------------------------------------------------------------------
// This file contains all styles related to the article component.
// -----------------------------------------------------------------------------

article {
	border-radius: 7px;
	//padding: 20px;
	//margin: 10px;
	border: 1px solid $light-grey;
	box-shadow: $shadow;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	header{
		padding: 1em 1em .5em 1em;

	}
	footer{
padding: .5em 1em 1em 1em;
	}

	.article-img {
		border-radius: 7px 7px 0 0;
	}
}

.article-item {
	background: #fff;
	margin-bottom: 1em;

	header {
display: flex;
flex-direction: column;
flex-grow: 1;

		.header-top{
			display: flex;
			justify-content: space-between;
			flex-grow: 1;

			span{
				display: flex;
				flex-direction: column;
			}

		}
		.header-bottom{

p{
	clear: both;

	.active-genre{
		border: 1px solid $mid-blue;
		padding: 0.4em 1em;
		border-radius: 10em / 10em;
		background: $mid-blue;
		color: white;
		margin-right: 0.5em;
	}
}
		}

		h3 {
			flex-grow: 2;
		}

		span {
			text-align: center;
			font-size: small;
		}
	}

	footer {
		display: flex;
		justify-content: space-between;

		&:first-child {
			flex-grow: 2;
		}
	}
}

.favorite input[type="checkbox"] {
  opacity: 0;
}

.favorite label {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 1.6em;
}

.favorite label::after,
.favorite label::before {
  position: absolute;
  content: "";
	 transition: all 250ms cubic-bezier(.4,.0,.23,1);
	 animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  /*Needed for the line-height to take effect*/
  display: inline-block;
}
/*Outer box of the fake checkbox*/
.favorite label::before {
  height: 1.3em;
  width: 1.3em;
  //border: 1px solid $light-blue;
  //border-radius: 3px;
  left: 0;
  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
  //  top: 3px;
	transition: all 250ms cubic-bezier(.4,.0,.23,1);
 animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
/*Checkmark of the fake checkbox*/
.favorite label::after {
  content: 'favorite';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-weight: 900;
  height: 5px;
  width: 9px;
  //border-left: 2px solid;
  //border-bottom: 2px solid;
  font-size: 1.5em;
  //  transform: rotate(-45deg);
  left: -1px;
  top: -6px;
	 transition: all 250ms cubic-bezier(.4,.0,.23,1);
	animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
/*Hide the checkmark by default*/
.favorite input[type="checkbox"] + label::after {
  content: 'favorite_border';
	font-weight: 300;
}
/*Unhide on the checked state*/
.favorite input[type="checkbox"]:checked + label::after {
  content: "favorite";
  color: red;
}
/*Adding focus styles on the outer-box of the fake checkbox*/
.favorite input[type="checkbox"]:focus + label::before {
  //outline: rgb(59, 153, 252) auto 5px;


	@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
}










.rating {
  border: none;
  float:left;
	margin: 0;
	padding: 0;

}

.rating > input { display: none; }
.rating > label:before {
  margin: 0em 0.5em 0.5em 0;
  font-size: 1.25em;
  font-family: Material Icons;
  display: inline-block;
  content: "star";
}

// .rating > .half:before {
//   content: "star";
//   position: absolute;
// }

.rating > label {
  color: #ddd;
 float: right;

}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
