// -----------------------------------------------------------------------------
// This file contains all styles related to the article component.
// -----------------------------------------------------------------------------

article {
	border-radius: 7px;
	//padding: 20px;
	//margin: 10px;
	border: 1px solid $light-grey;
	box-shadow: $shadow;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	header{
		padding: 1em 1em .5em 1em;

	}
	footer{
padding: .5em 1em 1em 1em;
	}

	.article-img {
		border-radius: 7px 7px 0 0;
	}
}

.article-item {
	background: #fff;
	margin-bottom: 1em;

	header {
display: flex;
flex-direction: column;
flex-grow: 1;

		.header-top{
			display: flex;
			justify-content: space-between;
			flex-grow: 1;

			span{
				display: flex;
				flex-direction: column;
			}

		}
		.header-bottom{
			.rated{
				font-family: 'Material Icons';
				height: 20px;
				margin-top: 0;
				color:$yellow;
				font-size: 1.2em;
			}
p{
	clear: both;

	.active-genre{
		border: 1px solid $mid-blue;
		padding: 0.4em 1em;
		border-radius: 10em / 10em;
		background: $mid-blue;
		color: white;
		margin-right: 0.5em;
	}
}
		}

		h3 {
			flex-grow: 2;
			word-wrap: break-word;
		}

		span {
			text-align: center;
			font-size: small;
		}
	}

	footer {
		display: flex;
		justify-content: space-between;

		&:first-child {
			flex-grow: 2;
		}
	}
}

.favorite input[type="checkbox"] {
  opacity: 0;
}

.favorite label {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
	cursor: pointer;
  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 1.6em;
}

.favorite label::after,
.favorite label::before {
  position: absolute;
  font-family: 'Material Icons';
	font-weight: normal;
  font-style: normal;
  font-weight: 500;
	font-size: 1.5em;
	 right: 0;
}
/*Outer box of the fake checkbox*/
.favorite label::before {
  content: 'playlist_add';
	-webkit-transition: all 0.50s;
 -moz-transition: all 0.50s;
 -o-transition: all 0.50s;
	transition: all 0.50s;
}
/*Checkmark of the fake checkbox*/
.favorite label::after {
	content: 'playlist_add_check';
	//max-width: 0;
	    overflow: hidden;
	    opacity: 0;
	    font-size: 1.5em;
	   right: 0;
	   color: green;
		 -webkit-transition: all 0.50s;
    -moz-transition: all 0.50s;
    -o-transition: all 0.50s;
     transition: rotate(40deg) all 0.50s;

}
/*Hide the checkmark by default*/

/*Unhide on the checked state*/
.favorite input[type="checkbox"]:checked + label::after {
	max-width: 25px;
    opacity: 1;
    //margin-right: 90px;
}
.favorite input[type="checkbox"]:checked + label::before {
	max-width: 25px;
    opacity: 0;
    //margin-right: 90px;
}
/*Adding focus styles on the outer-box of the fake checkbox*/
.favorite input[type="checkbox"]:focus + label::before {
  //outline: rgb(59, 153, 252) auto 5px;



}



p .rated{
	font-family: 'Material Icons';
	height: 20px;
}
