// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-main{
			height: 50px;
			border:none;
			border-radius: 5px;
			background-color: $yellow;
			box-shadow: rgb(222, 194, 4) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 3px 2px 0px;
			color: rgb(85, 86, 90);
			text-transform: uppercase;
			font-weight: 700;
			padding-left: 2em;
			padding-right: 2em;
			font-family: 'PembrokeDemo';
&:hover{
	background-color: lighten($yellow, 10%);
}
		}
.full-width{
	width: 100%;
	font-size: 80%;
}
