header {
    height: 60px;
    background: $primary-bg;
    color: #fff;

    .logo {
        height: 20px;
        width: 150px;


        margin-right: 0px;

        margin-left: 20px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;


    }

    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

    }

    nav {

        ul {
            display: flex;
            list-style: none;
    padding-inline-start: 0;

            li {


               
            }
            a{
            	display: block;
 padding: 1em;
 

            }
        }
    }
}