

	.hero{
		padding-left: 20px;
		background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
		background-image: url(https://content-static.eurostar.com/styles/1600x420/s3/2018-10/Christmas-in-London.jpg);
.container{
	padding-bottom: 50px;
	padding-top: 50px;
}

	}
	button{
			height: 50px;
			background:yellow;
			border-radius: 5px;
			
		}