

	.hero{
		padding-left: 20px;
		background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
		background-image: url(https://content-static.eurostar.com/styles/1600x420/s3/2018-10/Christmas-in-London.jpg);

		h1{
			color: #fff;
			text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 6px;
			max-width: 300px;

			font-style: normal;
			font-weight: 400;
			color: rgb(255, 255, 255);
			text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 6px;
			line-height: 0.95;
			font-size: 36px;
			text-transform: uppercase;
			padding-bottom: 22px;
		}
.container{
	padding-bottom: 50px;
	padding-top: 50px;
}

	}
button, .btn-main{
			height: 50px;
			border:none;
			border-radius: 5px;
			background-color: rgb(251, 221, 15);
			box-shadow: rgb(222, 194, 4) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 3px 2px 0px;
			color: rgb(85, 86, 90);
			text-transform: uppercase;
			font-weight: 700;
			padding-left: 2em;
			padding-right: 2em;
		}
