// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color-dark: rgb(34, 34, 34) !default;

/// Copy text color
/// @type Color
$text-color-light: rgb(225, 225, 225) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(6, 24, 61) !default;

/// Yellow
/// @type Color
$yellow: rgb(251, 221, 15) !default;

/// Light blue
/// @type Color
$light-blue: rgb(168, 226, 234) !default;

/// Medium blue
/// @type Color
$mid-blue: rgb(36, 181, 201) !default;

/// Dark blue
/// @type Color
$dark-blue: rgb(6, 24, 61) !default;

/// shadow
/// @type Shadow
$shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 5px 0px !default;


/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(200, 200, 200) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
