// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------



@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
@font-face {
    font-family: AspectDemo;
    font-weight: normal;
    src: url(../fonts/DemoAspect-Rg.otf) format("opentype");
}
@font-face {
    font-family: AspectDemo;
    font-weight:lighter;
    src: url(../fonts/DemoAspect-Lt.otf) format("opentype");
}
@font-face {
    font-family: PembrokeDemo;
    font-weight: lighter;
    src: url(../fonts/DemoPembroke-Light.otf) format("opentype");
}
@font-face {
    font-family: PembrokeDemo;
    font-weight: bold;
    src: url(../fonts/DemoPembroke-Medium.otf) format("opentype");
}
@font-face {
    font-family: PembrokeDemo;
    font-weight: normal;
    src: url(../fonts/DemoPembroke-Regular.otf) format("opentype");
}
