/**
 * Basic typography style for copy text
 */
body {
  color: $text-color-dark;
  font: normal 100% / 1.4 $text-font-stack;

}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

h1{
font-size: 3.5em;
font-family: 'AspectDemo';
font-weight: normal;

}
h2{
	font-size: 2.5em;
  font-family: 'AspectDemo';
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
color:$dark-blue;
  &:after{
    content: "";
display: block;
height: 4px;
width: 60px;
margin-top: 12px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
background-color: rgb(124, 211, 223);
  }
}
h3{
	font-size:1.4em;
  font-family: 'PembrokeDemo';
  font-weight: bold;
  //word-wrap: break-word;

}
h4{
	font-size:1.25em;
}

select{
  font: normal 100% / 1.4 $text-font-stack;
}
